{:paths ["src"]
 :deps {clj-http/clj-http {:mvn/version "3.12.3"}
        cheshire/cheshire {:mvn/version "5.10.2"}
        org.clojure/data.csv {:mvn/version "1.0.0"}
        lynxeyes/dotenv {:mvn/version "1.1.0"}}
 :mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"}
  "clojars" {:url "https://clojars.org/repo"}}}